h1 {
    font-family: fantasy;
    text-decoration: underline;
    color: rgb(95, 113, 85);
}
body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: larger;
    font-weight: 500;
    color: rgb(84, 30, 30);
}
img {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 600px;
}
.youtube {
    padding: 40px;
}
